/* GENERAL SETTINGS. */
* {
    padding: 0;
    box-sizing: border-box;
}

.bouton {
    color: #fff;
    background: #202945;
    border-radius: 12px;
    height: 4vh;
    padding: 0 20px;
    font-size: 4rem;
    cursor: pointer;
    z-index: 2;
}

.bouton:hover {
    background: #202945;
}

.bouton:active {
    background: #202945;
}

button, textarea, input, p {
    font-size: 4rem !important;
}





/* PAGE CRÉATION POSTE 1. */
.post_principal, .post_menu, .post_img, .post_outils {
    width: 100%;
}

.post_principal {
    /**/
}

.post_menu {
    /*background-color: #f4f4f4;*/
    background-color: #fff;
    box-shadow: 0 4px 8px #e5e5e5;
    height: 6vh;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
}

#publierPost {
    margin-right: 2%;
}

#creerPost {
    font-size: 4rem;
    transform: translateY(1rem);
}

#fermerPost {
    margin-left: 2%;
    height: 2.5vh;
}

#tache_rouge, #tache_bleue {
    position: absolute;
    opacity: .4;
}

#tache_rouge {
    left: 0;
    width: 15vh;
}

#tache_bleue {
    right: 0vh;
    width: 20vh;
}

#post_img {
    background-color: #fff;
    /*height: 78vh;
    width: 92vw;*/
    height: 100vw;
    width: 100vw;
    /*transform: translateX(4vw);
    padding: 4vw 0px;*/
    padding: 2vh;
}

.post_img_couche_1 {
    height: 100%;
    background-image: url('images/fond/fond-par-defaut.jpg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background-size: 100% 100%;*/
    background-size: 100vw auto;
    background-position: center;
    border-radius: 12px;
}

.post_img_couche_2 {
    height: 100%;
    background-repeat: no-repeat;
    /*background-position: bottom;
    background-size: 55vh;*/
    background-position: 0 6vh;
    background-size: 45vh;
}

.post_img_couche_3 {
    height: 100%;
    background-repeat: no-repeat;
}

.img_couche_3 {
    position: absolute;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#img_couche_3_titre {
    background-size: contain;
    /*background-position: center top;*/
    background-position: bottom;
    width: 96%;
    height: 15vh;
    /*padding: 0 2vw;*/
    /*background-size: 100% 20vh;*/
    background-size: 85vw 10vh;
    left: 2vw;
    top: 38vh;
}

#img_couche_3_bulle_gauche {
    width: 45%;
    height: 20vh;
    background-size: contain;
    background-size: 100% 100%;
    top: 10vh;
    left: 4.5vw;
}

#img_couche_3_bulle_droite {
    width: 45%;
    height: 20vh;
    background-size: contain;
    background-size: 100% 100%;
    top: 10vh;
    right: 4.5vw;
}

.p_couche_3 {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    padding: 0 50px;
}

#p_couche_3_titre {
    margin-top: 10vh;
    transform: translateY(-2vh);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#p_couche_3_gauche {
    transform: translateY(-50px);
}

#p_couche_3_droite {
    transform: translateY(-50px);
}

@keyframes sous_outils {
    from {
        height: 0vh;
    }

    to {
        height: 16vh;
    }
}

.tools {
    background-color: #fff;
    height: 16vh;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    bottom: 0vh;
    width: 100vw;
}

#post_sous_outils_scenario {
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    /*grid-template-columns: repeat(auto-fill,minmax(27.5%,1fr));*/
    grid-auto-flow: column;
    grid-auto-columns: minmax(27.5%,1fr);
    overflow-x: auto;
    font-size: 1.4rem;
    background: #fff;
}

#post_sous_outils_personnages {
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    /*grid-template-columns: repeat(auto-fill,minmax(27.5%,1fr));*/
    grid-auto-flow: column;
    grid-auto-columns: minmax(27.5%,1fr);
    overflow-x: auto;
    text-align: center;
    font-size: 1.4rem;
    background: #fff;
}

#post_sous_outils_bulles {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex: 1;
    text-align: center;
    font-size: 1.4rem;

}

.post_outils {
    background-color: #fff;
    height: 16vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    /*border-top: 4px solid #e5e5e5;*/
    box-shadow: 0 -4px 8px #e5e5e5;
}

.post_outils > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_outils figcaption, #post_sous_outils_scenario figcaption, #post_sous_outils_personnages figcaption {
    text-align: center;
    font-size: 4rem;
    padding-top: 2rem;
    color: #202945;
}

.post_outils img, #post_sous_outils_scenario img, #post_sous_outils_personnages img {
    margin-left: 50%;
    transform: translateX(-50%);
}

.post_outils img {
    height: 6vh;
}

#post_sous_outils_scenario img {
    height: 10vh;
}

#post_sous_outils_personnages img {
    height: 10vh;
}

.post_outils img:hover, #post_sous_outils_scenario, #post_sous_outils_personnages, #post_sous_outils_bulles {
    cursor: pointer;
}

.fond_gris {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    opacity: .8;
    display: none;
}

.popup_bulle {
    position: absolute;
    background: #ffe8b4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 8vh));
    height: 25.5vh;
    width: 80vw;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.popup_img {
    display: flex;
    justify-content: right;
}

.popup_bulle img {
    text-align: right;
    height: 2.5vh;
    width: 2.5vh;
    margin: 1vh 1vh 0 0;
}

.popup_texte {
    display: flex;
    justify-content: center;
}

.popup_bulle textarea  {
    width: 100%;
    height: 8vh;
    margin: 4vh 1vh;
    font-size: 4rem;
    background: #ffe8b4;
    border: none;
    font-family: comic sans ms !important;
}

.popup_bouton {
    display: flex;
    justify-content: right;
}

.popup_bulle button  {
    margin: 1vh 1vh 0 0;
}

.tools img {
    height: 8vh;
}

.tools figcaption {
    font-size: 4rem;
    padding-top: 2rem;
    text-align: center;
}

#outil_milieu, #outil_droit {
    opacity: .5;
}

#outil_gauche {
    opacity: 1;
}

#post_sous_outils_scenario {
    bottom: 16vh;
}

#post_outils_phrases {
    position: absolute;
}

.post_outils_phrases {
    position: absolute;
    bottom: 28vh;
    width: 100vw;
    text-align: center;
    opacity: 0;
}

#post_outils_phrase_1 {
    opacity: 1;
}





/* PAGE CRÉATION POSTE 2. */
#description {
    display: flex;
    width: 92vw;
    transform: translateX(4vw);
    padding: 4vw 0px;
}

#div_descriptionImg, #div_descriptionTxt {
    display: flex;
}

#div_descriptionImg {
    flex: 1;
    margin-right: 2vw;
}

#div_descriptionImg img {
    width: 100%;
}

#div_descriptionTxt {
    position: relative;
    flex: 4;
    margin-left: 2vw;
}

#div_descriptionTxt textarea {
    width: 100%;
    border: none;
    z-index: 2;
    background: transparent;
    padding-left: 8px;
}

#fauxPlaceholder {
    position: absolute;
    top: 0;
    left: 8px;
    font-weight: bold;
    display: block;
}

#post_hashtags {
    box-shadow: 0 4px 8px #e5e5e5, 0 -4px 8px #e5e5e5;
    padding: 4vh;
    margin: 4vh auto;
}

.jtags {
    border: 1px solid #ededed;
    border-radius: 12px !important;
    height: 4vh;
}

.jtags_label {
    background-color: #6dc4c4 !important;
    border-radius: 12px !important;
    color: #fff !important;
    align-items: center;
    display: flex;
    font-size: 2vh;
    padding-right: 30px !important;
}

.jtags_label::after {
    top: -8px !important;
    right: 10px !important;
    font-size: 30px !important;
    transform: scaleY(0.8);
    font-weight: bold;
}

#display_sondage {
    margin: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#display_sondage_bouton_fond {
    display: flex;
    justify-content: end;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    background: #ff833e;
    cursor: pointer;
}

#display_sondage_bouton_switch {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#sondage_preview {
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

#sondage_preview_question {
    background: #ededed;
    padding-bottom: 4vh;
    border-radius: 12px;
}

#sondage_preview_question p {
    padding: 2vh 0 0 2vh;
}

#sondage_preview_reponses {
    display: flex;
    flex-direction: column;
}

.sondage_preview_reponse {
    display: flex;
    margin: 2vh 0;
}

.sondage_preview_reponse_key {
    height: 6vh;
    width: 6vh;
    text-align: center;
    background: #ff833e;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
}

.sondage_preview_reponse_key p {
    font-size: 6rem !important;

}

.sondage_preview_reponse_value {
    display: flex;
    align-items: center;
}